<h2>My Puppy Dashboard</h2>

<h2>Added Puppies:</h2>

<% @adoptions.each do |adoption| %>
<%= image_tag(adoption.puppy.image, height: "95px", width: "95px") %>
  <%= link_to 'Make a Play Date', new_playdate_path %>
<% end %>