<h2>Schedule a Play Date</h2>

<%= image_tag(@puppy.image, height: "95px", width: "95px") %>

<%= form_for @playdate do |p| %>
  <%= p.date_field :date %>
  <br>
 Numer of People Attending
  <br>
  <%= p.text_field :attending %>

<% end %>